<div class="content">
  <h2>Dashboard Overview</h2>
  {{ currentDate | date : "fullDate" }}
  <div class="row mt-4 mb-4">
    <div class="col-12 col-md-6 col-lg-3 mt-2 mb-2">
      <!-- Total Users -->
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          Users Overview <i class="bi bi-people"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">100</h5>
          <p class="card-text">Total number of users</p>
          <a class="btn btn-primary">View Users</a>
        </div>
      </div>
    </div>
    <!-- Total Quizzes -->
    <div class="col-12 col-md-6 col-lg-3 mt-2 mb-2">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          Quizzes Overview <i class="bi bi-pencil-square"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">10</h5>
          <p class="card-text">Total number of quizzes</p>
          <a class="btn btn-primary">View Quizzes</a>
        </div>
      </div>
    </div>
    <!-- Total Coding Challenges -->
    <div class="col-12 col-md-6 col-lg-3 mt-2 mb-2">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          Coding Challenges <i class="bi bi-code-slash"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">5</h5>
          <p class="card-text">Total number of coding challenges</p>
          <a class="btn btn-primary">View Challenges</a>
        </div>
      </div>
    </div>
    <!-- Total technologies -->
    <div class="col-12 col-md-6 col-lg-3 mt-2 mb-2">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          Technologies Overview <i class="bi bi-laptop"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">10</h5>
          <p class="card-text">Total number of technologies</p>
          <a class="btn btn-primary">View Technologies</a>
        </div>
      </div>
    </div>
  </div>
</div>
