<div class="content">
  <h2>Dashboard Overview</h2>
  {{ currentDate | date : "fullDate" }}
  <div class="row mt-4 mb-4">
    <div class="col-12 col-md-6 col-lg-3 mt-2 mb-2">
      <!-- Total Users -->
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          Users Overview <i class="bi bi-people"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">100</h5>
          <p class="card-text">Total number of users</p>
          <a class="btn btn-primary">View Users</a>
        </div>
      </div>
    </div>
    <!-- Total Quizzes -->
    <div class="col-12 col-md-6 col-lg-3 mt-2 mb-2">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          Quizzes Overview <i class="bi bi-pencil-square"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">10</h5>
          <p class="card-text">Total number of quizzes</p>
          <a class="btn btn-primary">View Quizzes</a>
        </div>
      </div>
    </div>
    <!-- Total Coding Challenges -->
    <div class="col-12 col-md-6 col-lg-3 mt-2 mb-2">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          Coding Challenges <i class="bi bi-code-slash"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">5</h5>
          <p class="card-text">Total number of coding challenges</p>
          <a class="btn btn-primary">View Challenges</a>
        </div>
      </div>
    </div>
    <!-- Total technologies -->
    <div class="col-12 col-md-6 col-lg-3 mt-2 mb-2">
      <div class="card">
        <div class="card-header d-flex justify-content-between">
          Technologies Overview <i class="bi bi-laptop"></i>
        </div>
        <div class="card-body">
          <h5 class="card-title">10</h5>
          <p class="card-text">Total number of technologies</p>
          <a class="btn btn-primary">View Technologies</a>
        </div>
      </div>
    </div>
    <hr style="border: 1px solid var(--accent-1)" class="mb-2 mt-2" />
    <!-- Quizz Completion chart -->
    <div class="col-12 col-md-6 mt-4 mb-4">
      <app-quizz-chart></app-quizz-chart>
    </div>
    <!-- Popular Technologies -->
    <div class="col-12 col-md-6 mt-4 mb-4">
      <app-technology-chart></app-technology-chart>
    </div>
    <hr style="border: 1px solid var(--accent-1)" class="mb-2 mt-2" />
    <!-- Recent Activities -->
    <div class="col-12 col-md-6 mt-4 mb-4 activity-container">
      <h3>Recent Activities</h3>
      <div class="activity-item mb-2" *ngFor="let a of recentActivities">
        <div class="activity-header me-2">{{ a.type }}</div>
        <div class="activity-details">{{ a.description }}</div>
        <div *ngIf="a.optional !== ''" class="activity-details">
          By {{ a.optional }}
        </div>
        <div class="activity-date ms-auto me-1">
          {{ a.date | date : "short" }}
        </div>
      </div>
    </div>
    <!-- User activity (last 30 days) chart -->
    <div class="col-12 col-md-6 mt-4 mb-4">
      <app-user-activity-chart></app-user-activity-chart>
    </div>
  </div>
</div>
