.content {
  text-align: center;
  color: var(--text-1);
}
.content h2 {
  font-size: 28px;
  font-weight: bold;
  padding-bottom: 5px;
}

.card {
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  background-color: var(--text-1);
  color: var(--bg-1);
}

.card h5 {
  font-size: 20px;
  font-weight: bold;
  padding-bottom: 5px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.card-header {
  background-color: var(--text-2);
  color: var(--bg-1);
  width: 100%;
  font-weight: bold;
}
.activity-item {
  display: flex;
  flex-direction: row;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid var(--accent-1);
  border-radius: 5px;
  color: var(--text-1);
}

.activity-item .activity-header {
  font-weight: bold;
  margin-left: 5px;
  color: var(--text-1);
}

.activity-item .activity-details {
  color: var(--text-2);
  margin-left: 5px;
}

.activity-item .activity-date {
  color: var(--text-2);
  font-size: 0.9em;
}

.activity-container h3 {
  text-align: center;
  margin-bottom: 10px;
  text-decoration: underline;
  font-size: 1.2rem;
}
