<div class="score-container">
  <div class="score-header">
    <h1>Quiz Score</h1>
    <p>
      Your Score: <span class="score">{{ score?.score | percent }}</span>
    </p>
  </div>

  <div class="questions-container">
    <div
      *ngFor="let question of questions; let i = index"
      class="question-item"
    >
      <h2>Question {{ i + 1 }}</h2>
      <p>{{ question.question }}</p>
      <div class="options-container">
        <div
          *ngFor="let option of question.options"
          class="option-item"
          [class.correct]="isCorrect(question.id, option)"
          [class.chosen]="isChosen(question.id, option)"
        >
          {{ option }}
          <span *ngIf="isCorrect(question.id, option)" class="correct-icon">
            <i class="bi bi-check-circle-fill"></i>
          </span>
          <span
            *ngIf="
              isChosen(question.id, option) && !isCorrect(question.id, option)
            "
            class="wrong-icon"
          >
            <i class="bi bi-x-circle-fill"></i>
          </span>
        </div>
      </div>
      <div class="correct-answer">
        Correct Answer: {{ question.correctAnswer }}
      </div>
    </div>
  </div>

  <div class="actions-container">
    <button class="btn btn-outline-secondary" (click)="goBack()">
      <i class="bi bi-arrow-left"></i> Back
    </button>
  </div>
</div>
